* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #fbfdfc;
    font-size: 1rem;
    line-height: 1.6;
}

header {
    text-align: center;
}

h1 {
    color: #484d55;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
}

p {

}

section {
    margin-block: 50px;
}

a {
    color: #cb731b;
}

h2 {
    color: #cb731b;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

footer {

    text-align: center;
    font-size: 0.875rem;

}

.accent {
    color: #087a98;
}

.tealbg {
    background-color: #087a98;
    color: #fff;
    border: 5px solid #0b4a5a;
    padding: 10px;
}