* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #fbfdfc;
    font-size: 1rem;
    line-height: 1.6;
}

header {
    text-align: center;
}

h1 {
    color: #484d55;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
}

p {

}

section {
    margin-block: 50px;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
    border: 5px dashed red;
}

a {
    color: #cb731b;
    text-decoration: none;
}

a:visited {
    color: #087a98;
}
a:hover,
a:focus-visible {
    color: #cb731b;
}
a:active {
    color: black;
}

h2 {
    color: #cb731b;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

footer {

    text-align: center;
    font-size: 0.875rem;

}

.teal-text {
    color: #087a98;
}

.teal-bg {
    background-color: #087a98;
    color: #fff;
    border: 5px solid #0b4a5a;
    padding: 10px;
}